html {
    background: #FFFFFF;
    display: block;
    color: -internal-root-color;
}

body {
    margin: 0px auto; 
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px; 
    letter-spacing: 0.5px; 
    min-width: 960px;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    color: #333; 
    line-height: 1.6;
    background: #fff;
}

html, body {
    height: 100%; 
}

* {
    border-radius: 0 !important;
}

div {
    display: block;
}

ul, ol, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent; 
}

a {
    text-decoration: none; 
    color: #666666;
}


.container_24 {
    zoom: 1; 
    margin: 0 auto; 
    width: 960px; 
}

.container_24 .grid_24 {
    width: 950px; 
}

#b_header {
    height: 102px; 
}

.grid_4





.header {
    width: 100%; 
    margin: 0 auto; 
    width: 1232px; 
}

.topfixed {
    position: fixed;
    top: 0; 
    z-index: 999;
    background-color: #fff;
}


.topbar {
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
}

.topbar-left {
    float: left;
}

.topbar-right {
    float: right;
    text-align: right;
}

.header-main {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px; 
    line-height: 40px; 
    background-color: #0563c3;
}

.header-custom-label {
    display: inline-block; 
}

.header .nav-item {
    float: left; 
}

.header .nav-item a {
    display: inline-block;
    color: #ffffff; 
    font-size: 15px; 
    padding: 0 14px; 
}
